@use "../../variable";

.page4{
    display: none;
    padding: 2% 16% 0% 15%;
    font-family: variable.$font-family;
}

.page4{
    h1{
        font-size: 30px;
        padding-bottom: 7px;
        margin: 2% 1% 1% 0;
        color: variable.$Marine-blue;
    }
}
.page4{
    p{
        font-size: 16px;
        color: variable.$Cool-gray;
    }
}
.summary{
    margin-top: 7%;
    background-color: variable.$Magnolia;
    border-radius: 10px;
}
.summary div{
    display: flex;
    justify-content: space-between;
    padding: 3% 4% 1% 4% !important;
}
.summary div:nth-child(1) div{
    flex-direction: column;
    // padding: 2% !important;
}
.summary div:nth-child(1) span:nth-child(1) p:nth-child(1){
    color: variable.$Marine-blue;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 16px;
}
.summary div:nth-child(1) span:nth-child(1) p:nth-child(2){
    color: variable.$Cool-gray;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 19%;
}
.summary div:nth-child(1) span:nth-child(2){
    color: variable.$Marine-blue;
    font-weight: 700;
    margin-top: 2%;
}

hr{
    background-color: variable.$Light-gray;
    margin: 0;
    width: 92%;
    margin-left: 4%;
    border: none;
    height: 0.5px;
}
.summary div p{
    color: variable.$Cool-gray;
    font-size: 14px;
    font-weight: 500;
}
#online-service p{
    margin-top: 1%;
}
#online-service p:nth-child(2){
    color: variable.$Marine-blue;
}
#larger-storage p:nth-child(2){
    color: variable.$Marine-blue;
}
#larger-storage p{
margin-bottom: 4%;
} 

.total{
    display: flex;
    margin: 5% 0% 10% 6%;
    justify-content: space-between;
}
.total p:nth-child(1){
    font-size: 14px;
    font-weight: 500;
}
.total p:nth-child(2){
    margin-right: 5%;
    color: variable.$Purplish-blue;
    font-size: 16px;
    font-weight: 700;
}
.page4{
    button{
        margin: 6.5% 0% 0% 0%;
        float: right;
        background-color: variable.$Marine-blue;
        color: variable.$White;
        height: 7.5%;
        width: 18%;
        border: none;
        border-radius: 8px;
        font-family: variable.$font-family;
    }
}
.go-back-button{
    float: left !important;
    background-color: white !important;
    color: variable.$Cool-gray !important;
    width: 14% !important;
    font-weight: 700 !important;
    font-size: 14px;
}
.extra{
    margin-right: 39% !important;
}
#change-page4:hover{
    color: variable.$Purplish-blue;
}
.confirm-button:hover{
    background-color: variable.$Pastel-blue;
}