@use "../../variable";

.thankyou{
    display: none;
    text-align: center;
    margin-top: 21%;
    font-family: variable.$font-family;
}
.thankyou img{
    height: 21%;
}
.thankyou p:nth-child(2){
    margin-top: 2%;
    font-size: 30px;
    margin-bottom: 2%;
    font-weight: 700;
}
.thankyou p:nth-child(3){
    font-size: 15px;
    line-height: 23px;
    padding: 0% 20% 2% 22%;
    color: variable.$Cool-gray;
    font-weight: 500;
}
